/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/project/plugins.sbt
/target/

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.factorypath

